extends layout

block content
  .w3-container.w3-center
    header.w3-light-gray 
      h1 Quarto B Management
    ul.w3-ul
      li  
        a.w3-button.w3-light-gray(href="http://quatrobs.hopto.org/campainha/open") Open
    footer.w3-light-gray
      p Welcome to my second version!!!
