extends layout

block content
  .w3-container.w3-center
    header.w3-light-gray 
      h1 Quarto B Management 
      nav.w3-bar
        a.w3-bar-item.w3-button(href="http://quatrobs.hopto.org/register") Register
        a.w3-bar-item.w3-button(href="http://quatrobs.hopto.org/login") Login
    img.w3-image.w3-animate-fading(src="/images/barcalandia.jpg", alt="barcalandia.jpg")
    footer.w3-light-gray
      p Welcome to my second version!!!

