extends layout

block content
  .w3-container
    header.w3-gray 
      h1 Quarto B Management
    p Wellcome to my first version!!!
    ul.w3-ul
      li  
        a.w3-button.w3-green(href="http://quatrobs.hopto.org/campainha/open") Abrir

